# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

#useless dirs
Project\ Outputs
Project\ Logs
Project Outputs for*

#History
History

#Exports, but not manual ones
exports/*
!exports/manual

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2

#stm32qubeide
settings
.settings/

#metadata
.metadata/

#Debug
Debug/
debug/
Release/
release

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
